@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
/*font-family: "Dancing Script", cursive;*/
/*font-family: "Bebas Neue", sans-serif;*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
}

:root {
    --destaque:"Passion One", sans-serif;
    --padrao: "Sriracha", "cursive";
}
header{
    background-color: black;
    padding: 40px;
}

 header > h1{
    font-family: var(--destaque);
    
    color: white;
    text-align: center;
    font-size: 3.5em;
 }
 header > p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 1.2em;
 }

 #q1 > p{
    font-family: var(--padrao);
    text-align: left;
    font-size: 2.2em;
    display: block;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 30px;
    line-height: 1.8em;
 }
 
 #q2{
    background-color: gray;
    background-image:url(imagens/joaninha.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center right ;
    height: 600px;
    position: relative;
    
 }

 #q2 > p{
    background-color: rgba(0, 0, 0, 0.407) ;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: var(--padrao);
    text-align: left;
    font-size: 2.2em;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    line-height: 1.8em;
    position: absolute;
    top: 5%;
 }

 #q3 > p{
    font-family: var(--padrao);
    text-align: left;
    font-size: 2.2em;
    display: block;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 30px;
    line-height: 1.8em;
 }
 

 #q4{
    background-color: gray;
    background-image:url(imagens/folhas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center right ;
    height: 600px;
    position: relative;
 }

 #q4 > p{
    background-color: rgba(0, 0, 0, 0.407) ;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: var(--padrao);
    text-align: left;
    font-size: 2.2em;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    line-height: 1.8em;
    position: absolute;
    top: 5%;
 }

 #q5 > p{
    font-family: var(--padrao);
    text-align: left;
    font-size: 2.2em;
    display: block;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 30px;
    line-height: 1.8em;
 }

 footer{
    background-color: black;
    margin-top: 200px;
 }

 footer > p{
    color: white;
    text-align: center;
    font-size: 1.3em;
    font-family: "cursive";
    padding: 10px;
    margin: 0px;
 }

 a{
    color: white;
    text-decoration: none;
 }