@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
}
body{ 
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    width: 300px;
    height: 602px;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.tela{
    position: relative;
    top: 77px;
    left: 21px;

    background-size: cover;

    
    width: 258px;
    height: 455px; 
}

.rs{
    width: 100vw;
    height: 600px;
    text-align: right;


}

.rs  img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.499);
    box-sizing: border-box;
}

.rs img:hover{
    border: 2px solid rgba(255, 255, 255, 0.655);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px black;
    transition: transform .8s;
}


