@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    /*tablet*/
    body{
        background-image: linear-gradient(to top, var(--cor3), var(--cor1));
    }
    #login{
        width: 80vw;
    }
    #imagem{
        float: left; /*serve para alterar o localização de um bloco*/
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
    }
}

@media screen and ( min-width: 992px) {
     /*telas grandes*/
     body{
        background-image: linear-gradient(to top, var(--cor3), var(--cor1));
    }
     #login{
        width: 950px;
    }
    #imagem{
        float: left; /*serve para alterar o localização de um bloco*/
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 50%;
    }
}